.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Code Recommenders
.recommenders/